<!doctype html>
<html>
    <head>
        {% block head %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://kit.fontawesome.com/bcad64f782.js" crossorigin="anonymous"></script>
            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cirrus-ui@0.6.0/dist/cirrus.min.css" type="text/css" rel="stylesheet"/>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|PT+Sans&display=swap" rel="stylesheet">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
            <link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest') }}">
            <title>{% block title %}Shep{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div class="header header-fixed">
            <div class="header-brand">
                <div class="nav-item no-hover">
                    <a href="/manager/"><h6 class="title">Shep Board Manager</h6></a>
                </div>
            </div>
            <!-- <div class="header-nav">
                {% if session['access_token'] %}
                <div class="nav-right">
                    <div class="nav-item no-hover">
                        <span>
                            {{ session["user"]["name"] }}
                        <span>
                    </div>
                    <div class="nav-item no-hover">
                        <a href="/manager/logout">Logout</a>
                    </div>
                </div>

                {% else %}
                <div class="nav-right">
                    <div class="nav-item nav-right no-hover">
                        <a href="/manager/login">Login</a>
                    </div>
                </div>
                {% endif %}
            </div> -->
        </div>
        <div class="div-body">
            {% block content %}{% endblock %}
        </div>
        {% block bottom_body %}{% endblock %}
    </body>
</html>
