{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    Board | {{context.uuid}}
{% endblock %}

{% block content %}
<section>
    <div class="hero mt-8">
        <div class="hero-body">
            <div class="content">
                <h3>Board {{context.board.ip}}</h3>
                <h5>Type: {{context.board.type}}</h5>
                <p>UUID: {{context.board.uuid}}</p>
                <button class="btn-primary tooltip tooltip--left" id="claim" data-tooltip="Claim this resource"><i class="fa-wrapper fa fa-unlock pad-right"></i>claim</button>
                <button class="btn-info tooltip tooltip--right" id="renew" data-tooltip="Renew the claim on this resource" hidden="true"><i class="fa-wrapper fa fa-redo pad-right"></i>Renew</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="tab-container tabs-center" id="function-selector">
        <ul>
            <li class="selected" id="overview"><div class="tab-item-content">Overview</div></li>
            <li id="fsms"><div class="tab-item-content">FSMs</div></li>
            <li id="commands"><div class="tab-item-content">Commands</div></li>
        </ul>
    </div>
    <div class="content tab" id="Overview">
        <h6>Overview</h6>
        <div id="content-device-info"></div>
    </div>
    <div class="content tab" id="FSMs">
        <h6>State Machine</h6>
    </div>
    <div class="content tab" id="Commands">
        {% include "modules/common/command.html" %}
    </div>
</section>
{% endblock %}

{% block bottom_body %}
<script type="text/javascript">var uuid = "{{context.uuid}}";</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/common/func.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/common/command.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/common/fsm.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/board.js') }}"></script>

{% endblock %}
