{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock head %}

{% block title %}
    Board Manager
{% endblock title %}

{% block content %}
<section>
    <div class="content">
        <div class="content-header mt-10 level">
            <h5 style="float:left">Applications</h5>
            <a id="new-application" href="#new-application-modal"><button class="btn-primary"><i class="fa-wrapper fa fa-plus pad-right"></i>New</button></a>
            {# <form action="{% url 'BoardManager:newapp' %}" style="display: flex;align-content: flex-start;">
                <input type="submit" class="button" value="New Application" style="margin-left: 20px"/>
            </form> #}
        </div>
        <table class="index-table table" id="applications-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th>Boards</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</section>
<section>
    <div class="content">
        <div class="content-header level">
            <h5>Boards</h5>
            <a href="#new-board-modal"><button class="btn-primary"><i class="fa-wrapper fa fa-plus pad-right"></i>New</button></a>
        </div>
        <table class="index-table table" id="boards-table">
            <thead>
                <tr>
                    <th>UUID</th>
                    <th>IP Address</th>
                    <th>Board Type</th>
                    <th>Date Registered</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</section>

<div class="modal modal-large" id="new-application-modal">
    <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
    <div class="modal-content" style="width: auto;" role="document">
        <div class="modal-header">
            <a href="#anchor-to-background" class="u-pull-right" aria-label="Close">
                <span class="icon"><i class="fa-wrapper fa fa-times"></i></span>
            </a>
            <div class="modal-title">New Application</div>
        </div>
        <div class="modal-body" style="width: auto;">
            <form enctype='application/x-www-form-urlencoded'>
                <div class="row level">
                    <div class="col-2 row-item">
                        Name:
                    </div>
                    <div class="col-10 row-item">
                        <input type="text" name="name" value="">
                    </div>
                </div>
                <div class="row level" style="width: auto;">
                    <div class="col-2 row-item">
                        Boards:
                    </div>
                    <div class="col-10 row-item">
                        <div class="input-control">
                            <select class="select" name="boards" multiple>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-section u-text-right">
                <a href="#components">
                    <button class="btn btn-small u-inline-block">Cancel</button>
                </a>
                <a href="#components">
                    <button class="btn-info btn-small u-inline-block confirm" id="confirm-application">Confirm</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-large" id="update-application-modal">
    <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
    <div class="modal-content" style="width: auto;" role="document">
        <div class="modal-header">
            <a href="#anchor-to-background" class="u-pull-right" aria-label="Close">
                <span class="icon"><i class="fa-wrapper fa fa-times"></i></span>
            </a>
            <div class="modal-title">Update Application</div>
        </div>
        <div class="modal-body" style="width: auto;">
            <form enctype='application/x-www-form-urlencoded'>
                <div class="row level">
                    <div class="col-4 row-item pull">
                        UUID:
                    </div>
                    <div class="col-8 row-item uuid-row pull-left">
                    </div>
                </div>
                <div class="row level">
                    <div class="col-2 row-item">
                        Name:
                    </div>
                    <div class="col-10 row-item">
                        <input type="text" class="name-input" name="name" value="">
                    </div>
                </div>
                <div class="row level" style="width: auto;">
                    <div class="col-2 row-item">
                        Boards:
                    </div>
                    <div class="col-10 row-item">
                        <div class="input-control">
                            <select class="select" name="boards" multiple>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-section u-text-right">
                <a href="#components">
                    <button class="btn btn-small u-inline-block">Cancel</button>
                </a>
                <a href="#components">
                    <button class="btn-info btn-small u-inline-block confirm" id="confirm-application">Confirm</button>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-animated--zoom-in" id="new-board-modal">
    <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
    <div class="modal-content" role="document">
        <div class="modal-header">
            <a href="#anchor-to-background" class="u-pull-right" aria-label="Close">
                <span class="icon"><i class="fa-wrapper fa fa-times"></i></span>
            </a>
            <div class="modal-title">New Board</div>
        </div>
        <div class="modal-body">
            <form enctype='application/x-www-form-urlencoded'>
                <div class="row level">
                    <div class="col-4 row-item">
                        IP address:
                    </div>
                    <div class="col-8 row-item">
                        <input type="text" name="ip" value="">
                    </div>
                </div>
                <div class="row level">
                    <div class="col-4 row-item">
                        Board type:
                    </div>
                    <div class="col-8 row-item">
                        <input type="text" name="type" value="">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-section u-text-right">
                <a href="#components">
                    <button class="btn btn-small u-inline-block">Cancel</button>
                </a>
                <a href="#components">
                    <button class="btn-info btn-small u-inline-block" id="confirm-board">Confirm</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-animated--zoom-in" id="update-board-modal">
    <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
    <div class="modal-content" role="document">
        <div class="modal-header">
            <a href="#anchor-to-background" class="u-pull-right" aria-label="Close">
                <span class="icon"><i class="fa-wrapper fa fa-times"></i></span>
            </a>
            <div class="modal-title">Update Board</div>
        </div>
        <div class="modal-body">

            <form enctype='application/x-www-form-urlencoded'>
                <div class="row level">
                    <div class="col-4 row-item">
                        UUID:
                    </div>
                    <div class="col-8 row-item uuid-row">
                    </div>
                </div>
                <div class="row level">
                    <div class="col-4 row-item">
                        IP address:
                    </div>
                    <div class="col-8 row-item">
                        <input type="text" class="ip-input" name="ip" value="">
                    </div>
                </div>
                <div class="row level">
                    <div class="col-4 row-item">
                        Board type:
                    </div>
                    <div class="col-8 row-item">
                        <input type="text" class="type-input" name="type" value="">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-section u-text-right">
                <a href="#components">
                    <button class="btn btn-small u-inline-block">Cancel</button>
                </a>
                <a href="#components">
                    <button class="btn-info btn-small u-inline-block" id="confirm-board">Confirm</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block bottom_body %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock %}
