/* body {
    color: #000852;
    font-family: 'Noto sans', sans-serif;
    margin: 0;
}

.title-banner {
    align-content: flex-start;
    background-color: #000852;
    display: flex;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
}

.div-body {
    background-color: white;
    border: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 120px;
}

.title-div {
    color: white;
    margin-left: 20px;
}

.button {
    background-color: #267BC9;
    border: 2px solid #267BC9;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 15px 23px;
    margin-left: 0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: white;
    border: 2px solid #267BC9;
    color: #267BC9;
} */

/* .table td {
    text-align: left;
} */
