.content-header {
    align-content: flex-start;
    display: flex;
    padding-left: 10px;
}

.content-block {
    border: 2px solid #000852;
    margin-bottom: 20px
}

.index-table {
    padding: 20px;
}

.index-table td {
    padding-right: 10px;
}

/* th {
    text-align: left;
}

.table td {
    text-align: left;
} */
