<div class="row level">
    <div class="col-3 level-item"><h6>Select a command ...<h6></div>
</div>
<form id="command_form" action="{{form_url}}" method="post" enctype="multipart/form-data">
    <div class="row level">
        <div class="col-3 level-item">Device:</div>
        <div class="col-9 level-item"><ul id="command_form_device_list" style="list-style:none;"/></div>
    </div>
    <div class="row level">
        <div class="col-3 level-item">Command:</div>
        <div class="col-9 level-item"><select class="command-selector select" name="command"></select></div>
    </div>
    <div class="row level">
        <div class="col-3 level-item">Parameters:</div>
        <div class="col-9 level-item"><table class="table"></table></div>
    </div>
    <div class="row level">
        <div class="col-3 level-item"><input type="submit" class="btn-primary pull-right" value="Run Command" disabled/></div>
    </div>
</form>
<div class="divider"></div>
<div class="row level">
    <div class="col-3 level-item"><h6>Status<h6></div>
    <div class="col-9 level-item"><progress id="command-progress" value="0" max="1"></progress></div>
</div>
<div class="row level col-6 output" id="command_output">
</div>
